{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>{{ title }}</h1>

    <a href="{{ path('frontend.bmd-export.index',   { token: token }) }}">BMD Export</a>&nbsp;|&nbsp;
    <a href="{{ path('frontend.nadeos.commissions', { token: token }) }}">Provisionen</a>&nbsp;|&nbsp;
    <a href="{{ path('frontend.shrink.list',        { token: token }) }}">Schwundliste</a>

    <nav class="controls">
        <form onSubmit="" class="overview-form" data-nadeos-exporter-controller="overview-form">
            <input type="hidden" name="token" value="{{ token }}">
            <select class="form-select" name="year" id="year">
                {% for year in 2020..2025 %}
                    <option value="{{ year }}" {% if year == date|date('Y') %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <select class="form-select" name="month" id="month">
                {% for month in 1..12 %}
                    <option value="{{ month }}" {% if month == date|date('m') %}selected{% endif %}>{{ month }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-buy" type="submit">Update</button>
        </form>
    </nav>

    <style>
        .controls {
            margin-top: 1rem;
            display: flex;
            margin-bottom: 1rem;
        }

        .controls [data-nadeos-exporter-controller="overview-form"] .form-select {
            width: auto;
        }
        .controls [data-nadeos-exporter-controller="overview-form"] .btn-buy {
            overflow: visible;
            width: auto;
        }
        .controls [data-nadeos-exporter-controller="overview-form"] .form-group {
            display: flex;
        }
        .controls [data-nadeos-exporter-controller="overview-form"] .form-actions {
        } 
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Monat</th>
                <th>Monatsübersicht</th>
                <th>Bestellungen (Rechnungen, Stornorechnungen, Gutschriften)</th>
                <th>Nur Rechnungen</th>
                <th>Nur Gutschriften</th>
                <th>Nur Stornos</th>
                <th>Kunden</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..7 %}
                {% set currentDate = date|date_modify("-#{i} month") %}
                <tr>
                    <td>{{ currentDate|date('Y-m') }}</td>
                    <td>
                        <a href="{{ path('frontend.bmd-export.datas', { year: currentDate|date('Y'), month: currentDate|date('m') }) }}">
                            Übersicht | 
                            <a href="{{ path('frontend.bmd-export.datas-csv', { year: currentDate|date('Y'), month: currentDate|date('m') }) }}">
                                csv
                            </a>
                        </a>
                    </td>
                    <td>
                        {#
                            <a href="{{ path('frontend.bmd-export.orders', { token: token, year: currentDate|date('Y'), month: currentDate|date('m') }) }}">
                        #}
                        <a href="{{ path('frontend.bmd-export.orders', { year: currentDate|date('Y'), month: currentDate|date('m') }) }}">
                            Bestellungen
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('frontend.bmd-export.orders', { year: currentDate|date('Y'), month: currentDate|date('m'), type: 'invoices' }) }}">
                            Rechnungen
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('frontend.bmd-export.orders', { year: currentDate|date('Y'), month: currentDate|date('m'), type: 'credits' }) }}">
                            Gutschriften
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('frontend.bmd-export.orders', { year: currentDate|date('Y'), month: currentDate|date('m'), type: 'cancellations' }) }}">
                            Stornos
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('frontend.bmd-export.customers', { year: currentDate|date('Y'), month: currentDate|date('m') }) }}">
                            Kunden
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
