{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>{{ title }}</h1>

    <a href="{{ path('frontend.bmd-export.index',   { token: token }) }}">BMD Export</a>&nbsp;|&nbsp;
    <a href="{{ path('frontend.nadeos.commissions', { token: token }) }}">Provisionen</a>&nbsp;|&nbsp;
    <a href="{{ path('frontend.shrink.list',        { token: token }) }}">Schwundliste</a><br /><br />

    <a href="{{ path('frontend.shrink.list-overview', { token: token }) }}">Schwundliste Übersicht</a><br />

    <nav class="controls">
        <form onSubmit="" class="shrink-form" data-nadeos-exporter-controller="shrink-form">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
            <select class="form-select" name="year" id="year">
                {% for year in 2020..2025 %}
                    <option value="{{ year }}" {% if year == collection|first.orderYear %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <select class="form-select" name="month" id="month">
                {% for month in 1..12 %}
                    <option value="{{ month }}" {% if month == collection|first.orderMonth %}selected{% endif %}>{{ month }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-actions">
            <button class="btn btn-buy" type="submit">Update</button>
            </div>
        </form>
    </nav>

    <style>
        .controls {
            margin-top: 1rem;
            display: flex;
            margin-bottom: 1rem;
        }

        .controls [data-nadeos-exporter-controller="shrink-form"] .form-select {
            width: auto;
        }
        .controls [data-nadeos-exporter-controller="shrink-form"] .btn-buy {
            overflow: visible;
            width: auto;
        }
        .controls [data-nadeos-exporter-controller="shrink-form"] .form-group {
            display: flex;
        }
        .controls [data-nadeos-exporter-controller="shrink-form"] .form-actions {
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Jahr</th>
                <th>Monat</th>
                <th>Artikelnummer</th>
                <th>Name</th>
                <th>Menge</th>
            </tr>
        </thead>

        <tbody>
            {% for article in articles %}
                <tr>
                    <td style="text-align: center;">{{ article.year }}</td>
                    <td style="text-align: center;">{{ article.month }}</td>
                    <td>{{ article.product_number }}</td>
                    <td>{{ article.label }}</td>
                    <td style="text-align: right;">{{ article.amount }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Keine Artikel gefunden.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
